body {
    background-color: darkgrey;
    font-family: 'Pixelify Sans';
    font-size: 1rem
}

.big {
    font-family: 'Pixelify Sans';
    font-size: 2rem
}

.bigger {
    font-family: 'Pixelify Sans';
    font-size: 4rem
}

.footer {
    height: 50px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    line-height: 50px;
    text-align: center;
    width: 100%;
}

